@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600,700,800,900&display-swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	justify-content:center;
	align-items:center;
	min-height: 100vh;
	background: linear-gradient(#2b1055, #7597de);
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 11px 50px;
	/* padding: 30px 100px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	list-style: none;
	margin-left: 20px;
}

.nav-item{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}

.nav-item:hover,
.active{
	background: #fff;
	color: #2b1055;
}

.logo-span{
	color:#f9e25c;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.3em;
	letter-spacing: 2px;
}

.sec{
	position: relative;
	padding: .5rem 8%;
	background: #1b0522;
}

.sec h2{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
}

.sec p{
	color: #fff;
	font-size: 1em;
	text-align: justify;
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items: center;
	overflow: hidden;
}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

section img#moon{
	top: -100%;
	mix-blend-mode: screen;
}

section img#stars{
	top: -100%;
	height: 100%;
	object-fit: cover;
}

section img#mountains_behind{
	bottom: -100%;
	top: initial;
}

#text{
	position: absolute;
	color: #fff;
	font-size: 9vh;
	font-weight: 200;
	margin-bottom: 1em;
	margin-right: -2000px;
	z-index: 1000;
}

#text span{
	font-weight: 700;
}

section img#mountains_front{
	bottom: -100%;
	top: initial;
	z-index: 1000;
}

#btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 80px; 
	text-decoration: none;
	display: inline-block;
	padding: 8px 50px;
	background: #fff;
	border-radius: 48px;
	font-size: 1.4em;
	color: #2b1055;
	z-index: 10000;
}

section::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #1c0522,transparent);
	z-index: 1000;
}
.card, .MovePage{
	cursor: pointer;
}

.pokeball{
	height: 7rem;
	width: 7rem;
}

.row-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
ul{
	list-style: none;
}

.footer{
	background-color: #2b154f;
    /* padding: 70px 0; */
	padding-top: 1em;
    padding-bottom: 5em;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #897ec3;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-logo{
	display: flex;
}

.footer-logo-svg{
	height: 3em;
}

.fondo-footer{
	position: absolute;
    z-index: 0;
    right: 3px;
    width: 39em;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
    }
}
